
@import '../theme.scss';

.search-location-input{
  display: flex;
  flex-direction: column;
  width: 100%;
  label{
    font-family: 'DMsans-regular';
    font-size: 14px;
  }
  input{
    margin-top: 10px;
    background-color: $color-light-grey;
    height: 50px;
    border-radius: $radius-card;
    padding: 20px 10px;
    border: 0.5px solid $color-grey;
    font-size: 14px;

    &::placeholder {
      color: #bdbdbf; // Change placeholder color to red
    }
  }
  .errored{
    border: 2px solid $color-danger;
}
}