/* BookingDetailsPage.module.css */

@import "./theme.scss";

.section{
  justify-content: center;
  display: flex;
  align-items: center;
  @media (max-width: 768px) {
    padding-top: 100px !important;
  }

  .datetime-container{
    flex: 1; // Allow input/select to take remaining space
    padding: 0px !important;
    border: 1px solid #ccc !important;
    font-size: 16px !important;
  }


  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;

    .bookings-title{
      font-size: 18px;
      color: $color-primary;
      margin-bottom: 30px;
      font-family: "dmsans-semibold";
    }

    .detail-label{
      color: $color-primary;
      border:1px solid $color-light-grey;
      font-size: 14px;
      font-family: "dmsans-semibold";
      text-align: left;

    }

    .detail-value{
      color: $color-primary;
      border:1px solid $color-light-grey;
      font-size: 14px;
      font-family: "dmsans-regular";
      text-align: left;
    }
  }
  
  .bookingDetails {
    text-align: center;
    margin-bottom: 20px;
  }

  .buttons-wrapper{
    margin-top: 30px;
  }

  .button-container {

  }
  
  .cancelButton {
    background-color: $color-danger;
    color: #fff;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    font-size: 16px;
    border-radius: 5px;
  }

  .update-button{
    background-color: $color-primary;
    color: #fff;
  }
  
  .cancelButton:hover {
    background-color: #4e2222;
  }
  
  .loading {
    font-size: 18px;
    color: #555;
    margin-top: 20px;
  }


  .modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .cancel-modal {
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    text-align: center;
  
    .confirm-text {
      font-size: 16px;
      margin-bottom: 20px;
      font-family: "dmsans-regular";
      color: $color-primary
    }
  
    .modal-buttons {
      display: flex;
      justify-content: center;
  
      button {
        margin: 0 10px;
        padding: 8px 16px;
        font-size: 14px;
        cursor: pointer;
        border: none;
        border-radius: 4px;
        outline: none;
        background-color: $color-primary;
        color: white;
  
        &:hover {
          background-color: #354c5b;
        }
  
        &:first-child {
          background-color: $color-danger;
  
          &:hover {
            background-color: #832c2c;;
          }
        }
      }
    }
  }

  .success-button{
    background-color: $color-light;
    border: 1px solid $color-primary;
    width: min-content;
    align-self: center;
    font-family: 'dmsans-regular';
    padding: 10px 30px;
  }

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(56, 56, 56, 0.5);
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;


  @media (max-width: 950px) {
    padding: 50px !important;
  }

  @media (max-width: 768px) {
    padding: 20px !important;
  }


  .modal-content {
    background-color: #fff;
    color: black;
    min-width: 50%;
    max-width: 80%;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    max-width: 500px;
    margin: 0 auto;
    max-height: 95vh; // Set a maximum height for the modal content
    overflow-y: auto; // Enable vertical scrolling if content exceeds the height

    @media (max-width: 950px) {
      min-width: 100% !important;
    }

    h2 {
        margin-bottom: 20px;
        color: #333;
    }

    .view-field {
      display: flex;
      flex-direction: row;
      align-items: center;
      margin-bottom: 10px;
  
      .field-label {
          margin-right: 10px;
          width: 120px; // Set a fixed width for the label column
          font-weight: bold;
          color: #333;
      }
  
      .field-value {
          flex: 1; // Allow value to take remaining space
          color: #555;
      }
  }

    .edit-field {
      display: flex;
      flex-direction: row;
      align-items: center;
      margin-bottom: 5px;

      .date-field{
        flex: 1; // Allow input/select to take remaining space
        font-size: 16px;
        margin-top: 5px;
        background-color: #ffff !important;

        input{
          margin-top: 0px !important;
          background-color: #ffff !important;

          padding: 12px !important;
          font-size: 16px !important;
        }
      }
  
      label {
          margin-right: 10px;
          width: 120px !important; // Set a fixed width for the label column
          font-weight: bold;
          color: #333;
      }
  
      input,
      select {
          flex: 1; // Allow input/select to take remaining space
          padding: 10px;
          border: 1px solid #ccc;
          border-radius: 4px;
          font-size: 16px;
          margin-top: 5px;
      }
  }
  

    .edit-buttons {
        display: flex;
        justify-content: space-between;
        margin-top: 20px;

        button {
            padding: 10px 20px;
            height: max-content;
            border: none;
            border-radius: 4px;
            cursor: pointer;
            // border-radius: 50px;
            font-size: 14px;
            min-width: 90px;
        }

        button:nth-child(0) {
          background-color: $color-primary;
          color: #fff;
      }

        button:nth-child(1) {
            background-color:$color-danger;

            color: #fff;
        }

        button:nth-child(2) {
          background-color: $color-primary;
            color: #fff;

            
            &:hover{
              background-color: #331d51;

            }
        }
    }

    button:last-child {
        background-color: #ccc;
        color: #333;
    }
}
}
  
  

}

