// Dropdown container
@import './theme.scss';

.dropdown {
  position: relative;
  display: inline-block;

  // Dropdown button styling
  .dropdown-button {
    padding: 10px;
    color: #fff;
    border: none;
    cursor: pointer;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    min-width: max-content;

    img{
      width: 25px;
      height: 25px;
    }
  }

  // Dropdown content (hidden by default)
  .dropdown-content {
    display: none;
    position: absolute;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1;
    border-radius: $radius-card;
    overflow: hidden;

    // Style the dropdown links
    a {
      background-color: $overlay-dark;
      color: $color-light ;
      padding: 12px 16px;
      display: block;
      text-decoration: none;
      min-width: max-content;

      // Change color on hover
      &:hover {
        background-color:$color-light ;
        color: rgb(0, 0, 0);
      }
    }
  }

  // Show the dropdown content on hover
  &:hover {
    .dropdown-content {
      display: block;
    }
    .dropdown-button {
      color: $color-primary;
    }
  }
}
