@import './theme.scss';

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 10vw;
  background: $overlay-dark;
  color: $color-light;
  position: fixed;
  top: 0;
  width: 100vw;
  /* -webkit-box-shadow: 0 8px 6px -6px black;
  -moz-box-shadow: 0 8px 6px -6px black; */
  box-shadow: 0 10px 10px -10px rgba(0, 0, 0, 0.3);
  z-index: 10;

  .logo {
    font-size: 24px;
  }
  
  nav ul {
    list-style: none;
    display: flex;
    align-items: center;
  }
  
  nav li {
    margin-right: 20px;
  }
  
  .cart {
    font-weight: bold;
  } 

  nav ul li a:hover {
    color: $color-primary; /* Set the desired text color on hover */
  }
}

/* Media query for screens smaller than 768px (adjust breakpoint as needed) */
@media (max-width: 768px) {
  header {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 5px 20px;
  }

  nav {
    margin-top: 10px;
    display: none;
  }
}
  
/* Media query for screens smaller than 480px (adjust breakpoint as needed) */
@media (max-width: 480px) {
  header{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px 20px;
  }
  .logo {
    font-size: 20px;
  }

  nav {
    display: none;
  }

  nav li {
    margin-right: 0;
    margin-bottom: 10px;
  }

  .cart {
    margin-top: 10px;
  }
}

