@import './theme.scss';

.main{
  font-family:'DMsans-regular';
  height: 100rem;
  background-color: $color-light;
  color: $color-dark;
  .buttonContents{
    display: flex;
    flex-direction: 'column';
    align-items: 'center';
    justify-content: 'center';
    p{
      font-family:'DMsans-bold';
    }

    padding: 0 10px;
    img{
      margin-left: 10px;
    }
  }

  .overlay{
    background-color: $overlay-dark;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex: 1;
  }

  Section{
    //----------------------------landing----------------------------------
    @media (max-width: 768px) {
      .landing{
        padding: 100px 0px;
      }
    }
    
    /* Media query for screens smaller than 480px (adjust breakpoint as needed) */
    @media (max-width: 480px) {
      .landing{
        padding: 100px 0px;
      }
    }
    .landing{
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      height: 100%;
      width: 100%;

      .tagline{
        color: $color-light;
        font-size: 55px;
        font-family: 'DMSans-Bold';
        color: $color-light;        ;
        text-align: center;
        font-size: 60px;
        font-style: normal;
        font-weight: 800;
        line-height: 72px; /* 120% */
        text-transform: uppercase;
      }

      .description{
        color: $color-light;        ;

        max-width: 80%;
        text-align: center;
        margin: 35px 0;
        font-family: 'DMSans-regular';

      }
    }

    //----------------------------service----------------------------------
    .service {
      background-color: $color-light;
      width: 100%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      // padding: 20px 0px;

      .content-container{
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        // justify-content: center;
        flex-direction: column;
        color: $color-primary;
        padding: 100px;

        /* Media query for screens smaller than 768px (adjust breakpoint as needed) */
        @media (max-width: 768px) {
          padding: 20px;
        }
        
        /* Media query for screens smaller than 480px (adjust breakpoint as needed) */
        @media (max-width: 480px) {
          padding: 20px;
        }
        
          .title{
            font-size: 40px;
            line-height: 1.13em;
            margin-bottom: 20px;
            text-align: center;
            font-family: 'DMsans-bold';

            @media (max-width: 768px) {
              font-size: 32px;
            }
          }

          .button-container{
            margin-top: 50px;
            position: relative;
            bottom: 0px;
            // flex:1;
            // display: flex;
            // align-items: flex-end;
          }

          .cards-container{
            display: flex;
            flex:1;
            width: 100%;
            flex-direction: row;
            // padding: 100px 100px;



          /* Media query for screens smaller than 768px (adjust breakpoint as needed) */
          @media (max-width: 768px) {
            flex-direction: column;
            // padding: 20px;
          }
          
          /* Media query for screens smaller than 480px (adjust breakpoint as needed) */
          @media (max-width: 480px) {
            flex-direction: column;
            // padding: 20px;
          }

            
          }

          .cards-div{
            display: flex;
            flex:1;
            width: 100%;
            flex-direction: row;
            display: flex;
            flex-direction: column;
            justify-content: space-between;

            .card{
              width: 100%;
              border-radius: $radius-card;
              display: flex;
              flex-direction: column;
              box-shadow: 0 5px 16px rgba(0, 0, 0, 0.1);
              padding: 25px;
              transition: 0.3s;

              @media (max-width: 768px) {
                margin-bottom: 20px;
              }
              
              /* Media query for screens smaller than 480px (adjust breakpoint as needed) */
              @media (max-width: 480px) {
                margin-bottom: 20px;
              }

              &:hover {
                background-color:$color-primary ;
                color: $color-light;

                .title{
                  color: $color-light;
                }
                .desc{
                  color: $color-light;
                }
              }

              .title{
                font-size: 1.5rem;
                line-height: 1.13em;
                // text-align: center;
                text-align: left;
                font-family: 'DMsans-semibold';
                color: $color-primary;
              }

              .desc{
                font-size: 16px;
                line-height: 1.13em;
                font-family: 'DMsans-light';
                color: $color-primary;
              }
            }
          }

          .active-card{
            // background-color:$color-primary;
            // color: $color-light;
            transform: scale(1.2);
          }

          .link-one:hover {
            font-size: 25px;
          }


          /* Media query for screens smaller than 768px (adjust breakpoint as needed) */
          @media (max-width: 768px) {
          }
          
          /* Media query for screens smaller than 480px (adjust breakpoint as needed) */
          @media (max-width: 480px) {
          }

          .images-div{
            display: flex;
            flex:2;
            width: 100%;
            flex-direction: row;
            position: relative;
            position: relative;

            .nhs-trio{
              padding: 0px 15%;
              @media (max-width: 768px) {
                margin-bottom: 20px;
              }
              
              /* Media query for screens smaller than 480px (adjust breakpoint as needed) */
              @media (max-width: 480px) {
                margin-bottom: 20px;
              }
            }

            .logo-container{
              position: absolute;
              width: 100%;
              height: 100%;
              display: flex;
              flex-direction: column;
              justify-content: center;
              align-items: center;
            }

            .link-text{
              font-size: 1.5rem;
              line-height: 1.13em;
              text-align: center;
              font-family: 'DMsans-semibold';
              position: absolute;
              width: 60px;
              transition: 0.3s;
            }

            .link-one{
              top:20%;
              color: $color-primary;
            }
            .link-two{
              top:55%;
              left: 20%;
              color: $color-primary;
            }
            .link-three{
              top:65%;
              right: 30%;
              color: $color-primary;
            }
            .link-four{
              margin-top: 40px;
              width: 75px;
              height: 75px;
              transition: 0.3s;
            }

            .link-text:hover {
              transform: scale(1.2);
            }


        /* Media query for screens smaller than 768px (adjust breakpoint as needed) */
        @media (max-width: 1180px) {
          .link-text{
            font-size: 1rem;
          }
          .link-one{
            top:25%;
          }
          .link-two{
            top:55%;
            left: 20%
          }
          .link-three{
            top:60%;
            right: 30%;
          }
          .link-text:hover {
            transform: scale(1.1);
          }
        }



        /* Media query for screens smaller than 768px (adjust breakpoint as needed) */
        @media (max-width: 768px) {
          .link-text{
            font-size: 1.4rem;
          }
          .link-one{
            top:15%;
          }
          .link-two{
            top:55%;
            left: 20%
          }
          .link-three{
            top:65%;
            right: 30%;
          }
        }
        
        /* Media query for screens smaller than 480px (adjust breakpoint as needed) */
        @media (max-width: 480px) {
          .link-text{
            font-size: 0.8rem;
          }
          .link-one{
            top:15%;
          }
          .link-two{
            top:55%;
            left: 20%
          }
          .link-three{
            top:65%;
            right: 30%;
          }
        }

            .white-logo{
              width: 50px;
              // padding-top: 20px;
            }
          }
      }
    }

    //----------------------------nhs----------------------------------


    .nhs {
      background-color: $color-light-grey;
      width: 100%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;

    
      .content-container{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: row;
        padding: 100px;

        /* Media query for screens smaller than 768px (adjust breakpoint as needed) */
        @media (max-width: 1020px) {
          padding: 50px;
        }

        /* Media query for screens smaller than 768px (adjust breakpoint as needed) */
        @media (max-width: 768px) {
          padding: 20px;
        }
        
        /* Media query for screens smaller than 480px (adjust breakpoint as needed) */
        @media (max-width: 480px) {
          padding: 20px;
        }


        .textWrapper{
          display: flex;
          flex-direction: column;
          flex:1;
          justify-content: flex-end;
          color: $color-dark;
          // align-self: stretch;
          .title{
            font-size: 45px;
            line-height: 1.13em;
            margin-bottom: 20px;
            font-family: 'dmsans-bold';

  
          }
          .description{
            border: 0;
            font-size: 100%;
            font-style: inherit;
            font-weight: inherit;
            margin: 0;
            outline: 0;
            padding: 0;
            vertical-align: baseline;

          }
  
          .button-container{
            margin-top: 50px;
            position: relative;
            bottom: 0px;
            // flex:1;
            // display: flex;
            // align-items: flex-end;
          }
        }

        .imagesWrapper{
          flex:1;
          align-items: center;
          display: flex;
          flex-direction: column;
          height: 100%;
          width: fit-content;
          

          .imageContainer{
            width: 60%;
            aspect-ratio: 372/220;
            margin-bottom: 5%;
            // overflow: hidden;
            border-radius: $radius-card;
            position: relative;

            /* Media query for screens smaller than 768px (adjust breakpoint as needed) */
            @media (max-width: 768px) {
              width: 75%;
              margin-left: -20%;

            }
              
            /* Media query for screens smaller than 480px (adjust breakpoint as needed) */
            @media (max-width: 480px) {
              width: 75%;
              margin-left: -20%;
            }
            
            // display: flex;
            // flex-direction: row;

            .textContainer{
              background-color: $color-light;
              opacity: 0.9;
              border-radius: $radius-card;
              z-index: 1;
              width: 80%;
              height: 80%;
              align-self: center;
              margin-left: 50%;
              position: absolute;
              z-index: 1;
              top: 10%;
              display: flex;
              flex-direction: column;
              padding: 15px;
              justify-content: space-between;
              
              .typography{
                color: $color-primary;
                /* Heading Small */
                font-size: 20px;
                font-family: 'dmsans-semibold';

              }
              .desc{
                color: $color-grey;
                font-family: 'dmsans-light';
                font-size: 16px;

              }
              .link{
                color: $color-grey;
                font-family: 'dmsans-regular';
                font-size: 14px;
                display: flex;
                flex-direction: row;
                align-items: center;
                img{
                  height: 10px;
                  width: auto;
                  object-fit: contain;
                  margin-left: 5px;
                  
                }
              }
              /* Media query for screens smaller than 768px (adjust breakpoint as needed) */
              @media (max-width: 1080px) {
                padding: 10px;
                .typography{
                  font-size: 18px;
                }
                .desc{
                  font-size: 14px;
                }
                .link{
                  font-size: 12px;
                }
              }

              /* Media query for screens smaller than 768px (adjust breakpoint as needed) */
              @media (max-width: 768px) {
                padding: 10px;
                .typography{
                  font-size: 24px;
                }
                .desc{
                  font-size: 18px;
                }
                .link{
                  font-size: 16px;
                }
              }

                          /* Media query for screens smaller than 480px (adjust breakpoint as needed) */
            @media (max-width: 480px) {
              padding: 10px;
              .typography{
                font-size: 18px;
              }
              .desc{
                font-size: 14px;
              }
              .link{
                font-size: 12px;
              }
            }
            }

            img{
              width: 100%;
              height: 100%;
              object-fit: cover;
              z-index: -1;
              border-radius: $radius-card;
            }
          }

        }
  

      }

            /* Media query for screens smaller than 768px (adjust breakpoint as needed) */
            @media (max-width: 768px) {
              .content-container{
                flex-direction: column;

                .imagesWrapper{

                  padding-top: 20px;
                }
      
              }
            }
              
            /* Media query for screens smaller than 480px (adjust breakpoint as needed) */
            @media (max-width: 480px) {
              .content-container{
                flex-direction: column;


                .imagesWrapper{

                  padding-top: 20px;
                }
              }
            }
    }

    @media (max-width: 768px) {
      .footer{
        flex-direction:column-reverse;
      }
    }

    @media (max-width: 1024px) {

      .service{

        .content-container{
          .imageContainer,.textContainer {
            max-width: 100%;
          }
          .textContainer {
            padding: 0px 20px 0px 0px;
          }
        }
      }
    }
  }
}

//____________________________partners________________________________
  .partnerSection{
    padding: 100px;
    background-color: $color-light;
  }

  @media (max-width: 768px) {
    .partnerSection{
      padding: 20px;
    }
  }
  
  /* Media query for screens smaller than 480px (adjust breakpoint as needed) */
  @media (max-width: 480px) {
    .partnerSection{
      padding: 20px;

    }
  }

  

/* ImageBanner.scss */

.image-banner {
  width: 100%;
  height: 100vh; /* 100% of the viewport height */
  background-size: cover; /* Adjust the image to cover the entire container */
  background-position: center; /* Center the image */
}
