@import './theme.scss';


main{
    color: $color-primary;
    background-color: $color-light;
    .intro{
        padding: 100px;

        @media (max-width: 768px) {
            padding: 100px 20px;

          }
    }

    .section-hint{
        font-size: 12px;
        font-family: 'dmsans-regular'; 
        color: $color-grey;
    }

    .title{
        font-size: 46px;
        font-family: 'dmsans-bold';
    }
    .desc{
        font-size: 12px;
        font-family: 'dmsans-regular'; 
        color: $color-grey;
        text-align: center;
    }

    @media (max-width: 1020px) {
        .section-hint{
            font-size: 10px;
        }
    
        .title{
            font-size: 32px;
            font-family: 'dmsans-bold';
        }
        .desc{
            font-size: 10px;
            font-family: 'dmsans-regular'; 
            color: $color-grey;
            text-align: center;
        }
      }
      
    //   @media (max-width: 480px) {
    //     .landing{
    //       padding: 100px 0px;
    //     }
    //   }

    .service-container{
        height: 80vh;

        @media (max-width: 768px) { 
            height: auto;
         }



        .desc-container{
            align-items: flex-start;

            .service-title{
                font-size: 40px;
                font-family: 'dmsans-semibold';
                margin-bottom: 10px;
            }
            .service-desc{
                font-size: 16px;
                font-family: 'dmsans-regular'; 
                color: $color-grey;
            }
            .service-info {
                font-size: 16px;
                font-family: 'dmsans-light'; 
                color: $color-grey;
            }

            .additional-info{
                .title{
                    font-size: 14px;
                    font-family: 'dmsans-semibold'; 
                }
            }

            @media (max-width: 1020px) {
                .service-title{
                    font-size: 32px;
                    margin-bottom: 10px;
                }
                .service-desc{
                    font-size: 12px;
                }
                .service-info {
                    font-size: 12px;
                }
    
              }
        }

    }
}