@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

@layer base {
  @font-face {
    font-family: 'DMSans';
    src: url('/fonts/DMSans_18pt-Black.ttf') format('truetype');
    font-weight: 900; /* Adjust the weight as needed */
    font-style: normal;
  }
  
  @font-face {
    font-family: 'DMSans';
    src: url('/fonts/DMSans_18pt-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
  }
}

html {
  scroll-behavior:smooth;
}

body {
  color: rgb(var(--foreground-rgb));
  scroll-behavior: smooth;
  overscroll-behavior: none;
touch-action: pan-down;
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));


    main{
      overflow: auto;
    }
}
