//----------------------------footer----------------------------------
@import "../theme.scss";

.section {
  background-color: $color-light !important;
  display: flex;
  flex: 1;
  flex-direction: row;
}

  .footer {
    background-color: $color-primary !important;
    display: flex;
    flex: 1;
    flex-direction: row;

  @media (max-width: 768px) {
    flex-direction: column-reverse;
  }

  .details-container {
    flex: 1;
    padding: 100px;
    padding-right: 30px;
    display: flex;
    flex-direction: column;
    position: relative;

    @media (max-width: 768px) {
      padding: 100px 20px 100px 20px;
      padding-right: 20px;
    }

    .title {
      color: $color-light;
      font-size: 24px;
      font-family: "DMSans-semibold";
    }

    .desc {
      color: $color-light;
      font-size: 12px;
      font-family: "DMSans-regular";
      text-align: left;
    }

    .about-conatiner {
      margin-top: 50px;

      @media (max-width: 768px) {
        margin-top: 0px;

      }

      .title {
        color: $color-light;
        font-size: 20px;
        font-family: "DMSans-semibold";
      }
      .image {
        height: 50px;
      }
      .desc {
        font-size: 12px;
      }
    }
  }

  .form-container {
    flex: 1;
    display: flex;
    flex-direction: column;
    padding: 100px;
    padding-left: 20px;
    align-items: flex-end;

    @media (max-width: 768px) {
      padding: 100px 20px 0px 20px;
      padding-left: 20px;
    }

    @media (max-width: 768px) {
      align-items: center;
    }
  }
}
